* {box-sizing: border-box;}

html, body{
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #202021;
  color: white;
}
#registerButtonId{
  margin: 0 auto;
}
#logoutButtonId{
  margin: 0 auto;
}
.loginBtn {
  width: 150px;
  height: 50px;
  background: #202021;
  border: 2px solid #E82E44;
  font-size: 1.3rem;
  color: #E82E44;
  display: block;
  margin-bottom: 30px;
  transition: .2s;
}
.loginBtn:hover {
  color: white;
  background-color: #E82E44;
  transition: .2s;
  cursor: pointer;
}
.error{
  background: rgba(244, 165, 39, .2);
  border: 2px solid #F4A527;
  padding: 10px 0 10px 20px;
  margin-bottom: 30px;
  font-size: 1.1rem;
  font-style: italic;
  color: #F4A527;
}

.My_jumbotron{
  background-color: #E82E44;
  color: white;
}
#homepage_list{
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin: auto;
}
.modal-header{
  background: #302F2F;
  border: none;
}
.modal-footer{
  background: #302F2F;
  border: none;
}
.modal-content{
  background-color: #202021;
  color: white;
}
.form-control{
  background-color: #302F2F;
  border: none;
  color: white;
}
  .form-control:focus{
    background-color: #181818;
    color: white;
  }
.form-padding{
  padding-bottom: 15px;
}
nav{
  background-color: #3b3b3c;
}
.nav-link{
  font-size: 1.4rem;
}

table{
  margin-top: 50px;
}
tr{

}

.table-dark{
  background-color: #3b3b3c;
}
.categoryTitle{
  font-size: 1.2rem;
  font-weight: bold;
}
.tableHeader{
  background-color: #E82E44;
}
#friendslist_header{
  background-color: #0069D9;
}
#friendslist_table{
  max-width: 300px;
  font-size: 1.4rem;
}
.tableTitle{
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: .3rem;
}
thead{
  text-align: center;
  background-color: #5a5a5b;
}
td{
  padding: 20px;
}
td > a{
  display: block;
  color: white;
}
td > a:hover{
  color: #ffcc03;
}
.search-group{
  color: white;
  padding: 30px;
}
.form-margin-bottom{
  margin-bottom: 60px;
}
#pokemon_search{
  border: 3px solid #E82E44;
}
#hidden_div{
  display: none;
}
th{
  background-color: #E82E44;
}
#categoriesTable, #topicsTable, #postsTable, #users_pokemon{
  display: block;
}
.search-results{
  background-color: #5a5a5b;
}
.battleDiv{
  margin: 40px 40px;
  padding: 30px;
  background: #E82E44;
  text-align: center;
}
#battle_image{
  max-width: 60%;
  max-height: 35%;
  padding-bottom: 30px;
}
.username-list-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
  padding-left:30px;
  height: 25px;
  display:inline-block;
  line-height:25px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:25px;
  vertical-align:middle;
  cursor:pointer;
  margin-bottom: 20px;
  transition: .1s;
}
input[type=checkbox].css-checkbox + label.css-label:hover {
  background-color: #5a5a5b;

}
input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -25px;
}
label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_391ce065f36b1460c4845fa9b5173fba.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bordered-text-div {
  max-height: 200px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}
.border-line{
  min-height: 20px;
  align-self: flex-start;
  min-width: 180px;
  max-width: 400px;
  border-bottom: 2px solid #0069D9;
}
